# Análise de dados públicos do trabalho

Análise de Dados públicos de Estatísticas Trabalhistas correlacionadas com a pandemia do COVID-19

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Realizando a leitura dos arquivos de dados da movimentação de 2020 - CAGED

In [2]:
colunas = ['tipomovimentação', 'raçacor', 'salário', 'idade', 'sexo', 'graudeinstrução']
movimentacao2020 = {
    'janeiro':pd.read_csv(r'./dados/2020/CAGEDMOV202001.txt', delimiter=';', usecols=colunas),
    'fevereiro':pd.read_csv(r'./dados/2020/CAGEDMOV202002.txt', delimiter=';', usecols=colunas),
    'marco':pd.read_csv(r'./dados/2020/CAGEDMOV202003.txt', delimiter=';', usecols=colunas),
    'abril':pd.read_csv(r'./dados/2020/CAGEDMOV202004.txt', delimiter=';', usecols=colunas),
    'maio':pd.read_csv(r'./dados/2020/CAGEDMOV202005.txt', delimiter=';', usecols=colunas),
    'junho':pd.read_csv(r'./dados/2020/CAGEDMOV202006.txt', delimiter=';', usecols=colunas),
    'julho':pd.read_csv(r'./dados/2020/CAGEDMOV202007.txt', delimiter=';', usecols=colunas),
    'agosto':pd.read_csv(r'./dados/2020/CAGEDMOV202008.txt', delimiter=';', usecols=colunas),
    'setembro':pd.read_csv(r'./dados/2020/CAGEDMOV202009.txt', delimiter=';', usecols=colunas),
    'outubro':pd.read_csv(r'./dados/2020/CAGEDMOV202010.txt', delimiter=';', usecols=colunas),
    'novembro':pd.read_csv(r'./dados/2020/CAGEDMOV202011.txt', delimiter=';', usecols=colunas),
    'dezembro':pd.read_csv(r'./dados/2020/CAGEDMOV202012.txt', delimiter=';', usecols=colunas)
}

Realizando a leitura dos arquivos de dados da movimentação de 2021 - CAGED

In [3]:
movimento2021 = {
    'janeiro':pd.read_csv(r'./dados/2021/CAGEDMOV202101.txt', delimiter=';', usecols=colunas),
    'fevereiro':pd.read_csv(r'./dados/2021/CAGEDMOV202102.txt', delimiter=';', usecols=colunas),
    'marco':pd.read_csv(r'./dados/2021/CAGEDMOV202103.txt', delimiter=';', usecols=colunas),
    'abril':pd.read_csv(r'./dados/2021/CAGEDMOV202104.txt', delimiter=';', usecols=colunas)
}

Layout dos Microdados Não Identificados do Novo CAGED - Base de Movimentações

In [14]:
dadosLayout = pd.read_excel(r'./dados/layouts/Layout Novo Caged Movimentação.xlsx')

In [15]:
for coluna in enumerate(dadosLayout.columns): print (coluna)

(0, 'Variável')
(1, 'Descrição')
(2, 'Código')

In [16]:
dadosLayout

,Variável,Descrição,Código
0,competência,Competência da movimentação,<AAAAMM>
1,região,Região geográfica de acordo com o código do IBGE,<99>
2,uf,Unidade da federação de acordo com o código do...,<99>
3,município,Código do Município,<999999>
4,seção,Código da seção da classificação nacional de a...,<N>
5,subclasse,Código da subclasse da classificação nacional ...,<9999999>
6,saldomovimentação,Valor da movimentação em termos de saldo,<99>
7,cbo2002ocupação,Código da ocupação do trabalhador de acordo co...,<999999>
8,categoria,Categoria de trabalhador,<999>
9,graudeinstrução,Grau de instrução do trabalhador,<99>
10,idade,Idade do trabalhador,<999>
11,horascontratuais,Horas contratuais,<99>
12,raçacor,Raça ou cor do trabalhador,<9>
13,sexo,Sexo do trabalhador,<9>
14,tipoempregador,Tipo de empregador,<9>
15,tipoestabelecimento,Tipo de estabelecimento,<9>
16,tipomovimentação,Tipo de movimentação,<99>
17,tipodedeficiência,Tipo de deficiência do trabalhador,<9>
18,indtrabintermitente,Indicador de trabalhador intermitente,<9>
19,indtrabparcial,Indicador de trabalhador parcial,<9>
20,salário,Salário mensal declarado,<999999999.99>
21,tamestabjan,Faixa de tamanho do estabelecimento no início ...,<99>
22,indicadoraprendiz,Indicador de trabalhador aprendiz,<9>
23,fonte,Fonte da movimentação,<9>

Extrair dados específicos da tabela

In [18]:
dadosGeneroLayout = pd.read_excel(r'./dados/layouts/Layout Novo Caged Movimentação.xlsx', sheet_name='sexo')
dadosSetorLayout = pd.read_excel(r'./dados/layouts/Layout Novo Caged Movimentação.xlsx', sheet_name='cbo2002ocupação')
dadosEscolaridadeLayout = pd.read_excel(r'./dados/layouts/Layout Novo Caged Movimentação.xlsx', sheet_name='graudeinstrução')
dadosRacaLayout = pd.read_excel(r'./dados/layouts/Layout Novo Caged Movimentação.xlsx', sheet_name='raçacor')

Dados gênero

In [19]:
dadosGeneroLayout

   Código         Descrição
0       1             Homem
1       3            Mulher
2       9  Não Identificado

Dados setor

In [20]:
dadosSetorLayout

      Código                                          Descrição
0      10105                     Oficial General da Aeronautica
1      10110                        Oficial General do Exercito
2      10115                         Oficial General da Marinha
3      10205                             Oficial da Aeronautica
4      10210                                Oficial do Exercito
...      ...                                                ...
2713  992210  Encarregado de Equipe de Conservacao de Vias P...
2714  992215  Operador de Ceifadeira na Conservacao de Vias ...
2715  992220  Pedreiro de Conservacao de Vias Permanentes (E...
2716  992225  Auxiliar Geral de Conservacao de Vias Permanen...
2717  999999                                   Não Identificado

[2718 rows x 2 columns]

Dados escolaridade

In [21]:
dadosEscolaridadeLayout

    Código                Descrição
0        1               Analfabeto
1        2        Até 5ª Incompleto
2        3  5ª Completo Fundamental
3        4      6ª a 9ª Fundamental
4        5     Fundamental Completo
5        6         Médio Incompleto
6        7           Médio Completo
7        8      Superior Incompleto
8        9        Superior Completo
9       10                 Mestrado
10      11                Doutorado
11      80   Pós-Graduação completa
12      99         Não Identificado

Dados raça

In [22]:
dadosRacaLayout

   Código         Descrição
0       1            Branca
1       2             Preta
2       3             Parda
3       4           Amarela
4       5          Indígena
5       6     Não informada
6       9  Não Identificado